[submodule "nanopb-src"]
	path = nanopb-src
	url = git@github.com:nanopb/nanopb.git
[submodule "GatewayDeviceApp/test_lib"]
	path = GatewayDeviceApp/test_lib
	url = git@github.com:google/googletest.git
